:root {
         --bbody: #fff;
         --logoo: #4d5ae5;
         --logotwo: #ffffff;
         --but: #404BBF;
         --addone: #434455;
         --addonehf: #404bbf;
         --sect: #F4F4FD;



}
   /* index.html */
.bbody {
         font-family: "Roboto", sans-serif;
         color: var(--addone);
         background-color: var(--bodyy);

}

.logoo {
         font-family: "Raleway", sans-serif;
         font-weight: 800;
         font-size: 18px;
         line-height: 1.17;
         letter-spacing: 0.03em;
         text-transform: uppercase;
         color: var(--logoo);
}

.logotwo {
         color: var(--logotwo);

}

.link {
         text-decoration: none;
}

.list {
         list-style: none;

}

.but {
         font-weight: 500;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: var(--logotwo);

}

.but:focus {
         color: var(--but);
}

.but:hover {
         color: var(--but);
}

.addres {
         font-style: normal;

}

.addone {
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: var(--addon);

}

.addone:hover {
         color: var(--addonehf);
}

.addone:focus {
         color: var(--addonehf);
}

/* Hero */
.sectione {
         background-color: var(--logotwo);

}

.hsectione {
         font-size: 56px;
         line-height: 1.07;
         text-align: center;
         letter-spacing: 0.02em;
         color: var(--bodyy);

}

.but {
         background-color: var(--logoone);
         font-family: "Roboto", sans-serif;
         font-weight: 500;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.04em;
         color: var(--bodyy);
         cursor: pointer;

}

.but:focus {
         background-color: var(--but);
}

.but:hover {
         background-color: var(--but);
}
/*Benefits*/
.sectw {

}

.htwosectwo {
         font-weight: 500;
         font-size: 20px;
         line-height: 1.2;
         letter-spacing: 0.02em;
         color: var(--logotwo);
}

.sectwoo {
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: var(--addone);

}
/*What are we doing*/
.sectionthree {

}

.htwosecthree {
         font-size: 36px;
         line-height: 1.11;
         text-align: center;
         letter-spacing: 0.02em;
         text-transform: capitalize;
         color: var(--logotwo);

}
/*Our Team*/
.sectionfour {
         background-color: var(--sect);
}

.htwosecfour {
         font-size: 36px;
         line-height: 1.11;
         text-align: center;
         letter-spacing: 0.02em;
         text-transform: capitalize;
         color: #2e2f42;
}

.lisecfour {
         background-color: var(--bodyy);

}

.hthreesecfour {
         font-weight: 500;
         font-size: 20px;
         line-height: 1.2;
         letter-spacing: 0.02em;
         color: var(--logotwo);

}

.endsecfour {
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: var(--addone);
}



/*Footer*/
.footer {
         background-color: var(--logotwo);

}

.footerlogoo {
         font-family: "Raleway", sans-serif;
         font-weight: 800;
         font-size: 18px;
         line-height: 1.17;
         letter-spacing: 0.03em;
         text-transform: uppercase;
         color: #4d5ae5;

}

.footerlogotwo {
         color: #f4f4fd;
}

/* portfolio.html */
.bbody {
         font-family: "Roboto", sans-serif;
         color: #434455;
         background-color: #ffff;
}
/* Hero */
.but {
         font-family: "Roboto", sans-serif;
         font-weight: 500;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.04em;
         color: var(--logoone);
         background-color: var(--sect);
         cursor: pointer;

}

.but:focus {
         color: var(--bodyy);
         background-color: var(--but);
}

.but:hover {
         color: var(--bodyy);
         background-color: var(--but)
}

.imgp {

}

.liportfolio {
         font-weight: 500;
         font-size: 20px;
         line-height: 1.2;
         letter-spacing: 0.02em;
         color: var(--logotwo);

}

.pportfolio {
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
         color: var(--addone);
}
/* Footer */
.footer {
         color: var(--sect);
}














